name: Publish

on:
  release:
    types: [released]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: 'Get Previous tag'
      id: previoustag
      uses: "WyriHaximus/github-action-get-previous-tag@v1"
    - name: Set version
      run: |
        sed -i -e "s/>0.0.0</>${{ steps.previoustag.outputs.tag }}</" ./GettyImages.Api/GettyImages.Api.csproj
        cat ./GettyImages.Api/GettyImages.Api.csproj
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --configuration Release --no-build --no-restore --verbosity normal ./UnitTests/UnitTests.csproj
    - uses: actions/upload-artifact@v4
      with:
        name: artifacts
        path: ./GettyImages.Api/bin/Release

  publish:
    permissions:
      id-token: write # Required for authentication with NuGet.org
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - uses: actions/download-artifact@v4
      with:
        name: artifacts
        path: ./artifacts
    - name: 'Get Previous tag'
      id: previoustag
      uses: "WyriHaximus/github-action-get-previous-tag@v1"
    - name: Nuget login (OIDC -> Temp API Key)
      uses: NuGet/login@v1
      id: login
      with:
        user: ${{ secrets.NUGET_USER }}
    - name: Publish Package to Nuget
      run: dotnet nuget push "./artifacts/GettyImages.Api.${{ steps.previoustag.outputs.tag }}.nupkg" --api-key ${{steps.login.outputs.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json
      